body
{
    background-color: #FFFFFF;
    margin: 0;
    padding: 200px;
    height: 100px;
    
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 0px;
}

.bloco-1
{
    order: 0;
    background: hsl(31, 77%, 52%);
    flex-grow: 1;    
}

.bloco-2
{
    order: 0;
    background: hsl(184, 100%, 22%);
    flex-grow: 1;
}

.bloco-3
{
    order: 0;
    background:hsl(179, 100%, 13%);
    flex-grow: 1;
}