body
{
    background-color: #FFFFFF;
    margin: 0;
    padding: 200px;
    height: 250px;      
    display:flex;

}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0px;    
}

.bloco-1
{    
    display: flex;
    order: 0;
    background: hsl(31, 77%, 52%);
    flex-grow: 1;  
    border-radius: 10px 0px 0px 10px;
    display: grid;
    gap: 0px;
    color: #FFFFFF;
    padding: 0px 60px;
}

.bloco-2
{
    display: flex;
    order: 0;
    background: hsl(184, 100%, 22%);
    flex-grow: 1;
    display: grid;
    gap: 0px;
    color: #FFFFFF;
    padding: 0px 60px;
}

.bloco-3
{
    display: flex;
    order: 0;
    background:hsl(179, 100%, 13%);
    flex-grow: 1;
    border-radius: 0px 10px 10px 0px;
    display: grid;
    gap: 0px;
    color: #FFFFFF;
    padding: 0px 60px;
}

.btn-1
{
    background-color: #FFFFFF;
    color: hsl(31, 77%, 52%);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: #FFFFFF;
}

.btn-2
{
    background-color:#FFFFFF; 
    color: hsl(184, 100%, 22%);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: #FFFFFF;
}

.btn-3
{
    background-color: #FFFFFF;
    color:  hsl(179, 100%, 13%);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: #FFFFFF;

}

.texto
{
    font-family: 'Dosis', sans-serif;
    padding: 0 0 40px 0;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.2em;
}

